<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../controller/indexController.js" defer></script>
    <title>Upload</title>
    
</head>
<body>
    <header>
        <ul>
            <li>Agregar sujeto</li>
            <li onclick="ocultarContenido()">Ocultar</li>
        </ul>
    </header>
    <div id="imagenContenedor" class="imagenContenedor">
        <img src="../assets/fondoLakeView.jpg" alt="imagen de fondo de Lakeview">
    </div>
    <div id="contenedorListado" class="contenedorListado">
        <div class="card">
            <div class="divImagen">
                <picture>
                    <img src="" alt="">
                </picture>
            </div>
            <div class="divDatos">
                <input type="text">
                <input type="text">
            </div>
        </div>
    </div>
    
</body>
</html>